src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="ibs-library-Sapi-main">
        <http:listener config-ref="HTTP_Listener_config" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="ibs-library-Sapi-config" />
    </flow>
    <flow name="get:\books:ibs-library-Sapi-config">
        <logger level="INFO" doc:name="startLogger" doc:id="dd5c908b-7004-4134-8281-d419c3b11b30" message="###### get books flow" />
        <flow-ref doc:name="getBooksDetailsBasedonRating" doc:id="36b26010-bd20-482a-b721-37807e033b05" name="getBooksDetailsBasedonRating" />
    </flow>
    <flow name="get:\libraries:ibs-library-Sapi-config">
        <logger level="INFO" doc:name="Logger" doc:id="1a1c093c-34c0-4f50-b286-bf301b4e03ac" message="######## list of libraries" />
        <flow-ref doc:name="getLibrariesSubFlow" doc:id="a0da97e7-5afc-44c1-9b0b-d2f019720656" name="getLibrariesSubFlow" />
    </flow>
    <flow name="get:\libraries\(libraryId):ibs-library-Sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="libraryId">attributes.uriParams.'libraryId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="######## get library based on library ID" />
        <flow-ref doc:name="getLibraryById" doc:id="4b1ed3c9-6ca8-4de6-8b56-975f45052057" name="getLibraryById" />
    </flow>
    <flow name="post:\books:application\json:ibs-library-Sapi-config">
        <logger level="INFO" message="######## to create new book" />
        <flow-ref doc:name="postBooksInfoFlow" doc:id="80345eef-a68c-4534-a514-b6ec4c1a950b" name="postBooksInfoFlow" />
    </flow>
</mule>
