src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">

	<flow name="ibs-library-Sapi-main">
        <http:listener config-ref="HTTP_Listener_config" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="ibs-library-Sapi-config" />
    </flow>
    <flow name="get:\books:ibs-library-Sapi-config">
        <logger level="INFO" doc:name="Logger" doc:id="dd5c908b-7004-4134-8281-d419c3b11b30" message="###### get books flow"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	result: 'list of books flow'
}
 
 ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\libraries:ibs-library-Sapi-config">
        <logger level="INFO" doc:name="Logger" doc:id="1a1c093c-34c0-4f50-b286-bf301b4e03ac" message="######## list of libraries"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	result: 'list of libraries flow'
}
 
 ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\libraries\(libraryId):ibs-library-Sapi-config">
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="libraryId">attributes.uriParams.'libraryId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<logger level="INFO" message="######## get library based on library ID" />
		<ee:transform doc:name="Transform Message" doc:id="6bf90488-b35f-4c44-a349-0026728697ff" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	result: 'get library details based on ID'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\books:application\json:ibs-library-Sapi-config">
        <ee:transform doc:name="Transform Message" doc:id="40145034-be53-43c4-a65e-93e66f85ff06" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	result: 'to create new book'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="######## to create new book" />
    </flow>
</mule>
